@media (prefers-color-scheme: light) {
  :root {
    --text: #0a0a0a;
    --background: #ffffff;
    --backdrop: rgba(245, 245, 247, 0.85);
    --gray-1: rgb(142, 142, 147);
    --gray-2: rgb(229, 229, 234);
    --gray-lines: #f0f0f0;
    --theme-color: rgb(88, 86, 214);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #e0e0e0;
    --background: #1e1e1e;
    --backdrop: rgba(0, 0, 0, 0.55);
    --gray-1: rgb(152, 152, 157);
    --gray-2: rgb(44, 44, 46);
    --gray-lines: #343434;
    --theme-color: rgb(94, 92, 230);
  }
}

* {
  cursor: default;
  user-select: none;
  -webkit-user-select: none; /* Safari */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  line-height: 150%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--background);
  color: var(--text);
}

body.hover {
  border: 2px dashed #ccc; /* Dashed border */
  border-radius: 10px; /* Rounded corners */
  background-color: rgba(240, 240, 240, 0.5); /* Light background color */
  transition: background-color 0.3s, border 0.3s; /* Smooth transition */
}

h1 {
  font-family: -apple-system-ui-serif, ui-serif, "Georgia", serif;
  margin: 4rem 0.5rem;
  line-height: 150%;
  border-bottom: 1px solid var(--gray-lines);
}

h1 a {
  text-decoration: none;
  color: var(--text);
}

input,
button {
  -webkit-appearance: none;
  background: none;
  border: none;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem 0;
}

.book-item {
  padding: 0.5rem;
  text-align: center;
  cursor: pointer;
  transition: transform 0.4s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  display: flex;
  justify-content: end;
}

.book-item:hover {
  transform: scale(1.05);
}

.book-cover {
  max-width: 100%;
  height: auto;
  transition: transform 0.4s ease-in-out;
  box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.08), 0px 5px 4px rgba(3, 7, 18, 0.06),
    0px 12px 9px rgba(3, 7, 18, 0.05), 0px 20px 15px rgba(3, 7, 18, 0.03),
    0px 32px 24px rgba(3, 7, 18, 0.02);
}

.book-cover:hover {
  box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.02), 0px 5px 4px rgba(3, 7, 18, 0.03),
    0px 12px 9px rgba(3, 7, 18, 0.05), 0px 20px 15px rgba(3, 7, 18, 0.06),
    0px 32px 24px rgba(3, 7, 18, 0.08);
}

.book-title {
  font-weight: bold;
  margin-top: 10px;
  display: none;
}

.book-author {
  font-style: italic;
  margin-top: 5px;
  display: none;
}

.chat-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--backdrop);
  backdrop-filter: blur(8px);
  z-index: 2;
}

.chat-interface.hidden {
  visibility: hidden;
  transform: translate(-50%, 60%);
}

.chat-interface {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  height: 80%;
  max-height: 800px;
  background-color: var(--background);
  border: 1px solid var(--gray-lines);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0px 1px 1px rgba(3, 7, 18, 0.02), 0px 5px 4px rgba(3, 7, 18, 0.03),
    0px 12px 9px rgba(3, 7, 18, 0.05), 0px 20px 15px rgba(3, 7, 18, 0.06),
    0px 32px 24px rgba(3, 7, 18, 0.08);
  z-index: 3;

  scale: 1;
  opacity: 1;
  transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.chat-interface.hidde,
.chat-backdrop.hidden {
  visibility: hidden;
  opacity: 0;
}

#chatHeader {
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--gray-lines);
}

.chat-cover {
  width: auto;
  height: 2.5px;
  object-fit: cover;
  border-radius: 0.25rem;
  margin-right: 1rem;
}

#chatHeader h2 {
  font-size: 1.2rem;
  line-height: 120%;
  font-weight: 400;
  margin: 0.5rem 0 0.4rem 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

#chatHeader h3 {
  color: var(--gray-1);
  font-size: 1rem;
  line-height: 100%;
  font-weight: 400;
  margin: 0 0 0.5em 0;
}

#chatHeader svg {
  fill: var(--gray-2);
}

#chatMessages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem;
}

#chatInput {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

#chatInput input {
  -webkit-appearance: none;
  color: var(--text);
  font-size: 0.9rem;
  border: 1px solid var(--gray-lines);
  border-radius: 2rem;
  line-height: 1.6rem;
  padding: 0.5rem 1rem;
  background-color: var(--background);
}

#chatInput button {
  position: absolute;
  right: 1.4rem;

  width: 2rem;
  height: 2rem;
  -webkit-appearance: none;
  border-radius: 50%;
  border: 1px solid var(--theme-color);
  background-color: var(--theme-color);
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

#userMessage {
  flex-grow: 1;
  /* margin-right: 1rem; */
  padding: 1rem 0.5rem;
  min-height: 1.5rem;
}

.message {
  line-height: 140%;
  margin-bottom: 1rem;
  padding: 1rem 1.2rem;
  border-radius: 1.5rem;
  width: 100%;
  min-width: 20%;
  max-width: 70%;
  transition: all ease-in-out;
}

.message.user {
  color: white;
  background-color: var(--theme-color);
  align-self: flex-end;
  margin-left: auto;
}

.message.assistant {
  color: var(--text);
  background-color: var(--gray-2);
  align-self: flex-start;
  user-select: text;
  -webkit-user-select: text; /* Safari */
  transition: all ease-in-out;
}

.message.assistant:empty {
  width: 1rem;
  height: 0.5rem;
  content: "...";

  animation-name: pulse;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.chat-cover {
  width: 50px; /* Set the width of the cover image */
  height: 50px; /* Set the height of the cover image */
  object-fit: cover; /* Crop the image to fit the square */
  border-radius: 0.5rem; /* Optional: Add some rounding to the corners */
  margin-right: 1rem; /* Space between the image and text */
}

.chat-interface.animate-back {
  transition: transform 0.5s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  transform: translate(0, 0); /* Move back to the center */
}

/* animations */
@keyframes pulse {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
